.message {
    display: flex;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background-color: #06c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 4px 24px 8px 12px;
    gap: 4px;
}

.text:after {

}

.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    align-self: end;
}

.messageText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.time {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    text-align: end;
}