.App {
    --header_height: 60px;
    padding: 0 70px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hwTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}